[Unit]
Description=Radio API Service
After=network.target

[Service]
User=root
WorkingDirectory=/app
EnvironmentFile=/app/.env
ExecStart=/opt/radio-api/venv/bin/python -m uvicorn api:app --host 0.0.0.0 --port 8000 --proxy-headers --forwarded-allow-ips *
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
